@using Microsoft.EntityFrameworkCore.Infrastructure
@model MvcProject.Models.MovieGenreViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "_WrapperLayout";
}

@* <h1>Список фильмов</h1> *@
@* *@
@* <p> *@
@*     <a asp-action="Create">Добавить новый фильм</a> *@
@* </p> *@
@* <form asp-controller="Movies" asp-action="Index" method="get"> *@
@*     <p> *@
@* *@
@*         <select asp-for="MovieGenre" asp-items="Model.Genres"> *@
@*             <option value="">Все жанры</option> *@
@*         </select> *@
@* *@
@*         <input type="text" size="23" asp-for="SearchString" , placeholder="введите название фильма" /> *@
@*         <input type="submit" value="применить фильтр" /> *@
@*     </p> *@
@* </form> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Movies![0].Title) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Movies![0].Genre) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Movies![0].Price) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Movies![0].Rating) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model.Movies!) *@
@*         { *@
@*             <tr> *@
@*                 <td> *@
@*                     @Html.DisplayFor(modelItem => item.Title) *@
@*                 </td> *@
@*                 <td> *@
@*                     @Html.DisplayFor(modelItem => item.ReleaseDate) *@
@*                 </td> *@
@*                 <td> *@
@*                     @Html.DisplayFor(modelItem => item.Genre) *@
@*                 </td> *@
@*                 <td> *@
@*                     @Html.DisplayFor(modelItem => item.Price) *@
@*                 </td> *@
@*                 <td> *@
@*                     @Html.DisplayFor(modelItem => item.Rating) *@
@*                 </td> *@
@*                 <td> *@
@*                     $1$Вспомогательные функции тегов#1# *@
@*                     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                     <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@

<div class="lg:flex lg:items-center lg:justify-between">
    <div class="min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Список фильмов</h2>
    </div>
    <div class="mt-5 flex lg:ml-4 lg:mt-0">
        <span class="sm:ml-3">
            <a asp-action="Create" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                </svg>
                Добавить
            </a>
        </span>
    </div>
</div>

<div class="relative rounded-xl overflow-auto">
    <div class="py-8">
        <table class="border-collapse w-full border border-slate-400 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm shadow-sm">
            <thead class="bg-slate-50 dark:bg-slate-700">
            <tr>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Название</th>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Дата выхода</th>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Жанр</th>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Цена</th>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Рейтинг</th>
                <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">@movie.Title</td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">@movie.ReleaseDate</td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">@movie.Genre</td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">@movie.Price</td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">@movie.Rating</td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        <div class="flex">
                            <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>